In [6]:
!pip install pandas --upgrade

Collecting pandas
  Downloading https://files.pythonhosted.org/packages/52/3f/f6a428599e0d4497e1595030965b5ba455fd8ade6e977e3c819973c4b41d/pandas-0.25.3-cp36-cp36m-manylinux1_x86_64.whl (10.4MB)
     |████████████████████████████████| 10.4MB 521kB/s eta 0:00:01
Requirement already satisfied, skipping upgrade: python-dateutil>=2.6.1 in /home/teo/anaconda3/lib/python3.6/site-packages (from pandas) (2.7.3)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /home/teo/anaconda3/lib/python3.6/site-packages (from pandas) (2018.4)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in /home/teo/anaconda3/lib/python3.6/site-packages (from pandas) (1.14.3)
Requirement already satisfied, skipping upgrade: six>=1.5 in /home/teo/anaconda3/lib/python3.6/site-packages (from python-dateutil>=2.6.1->pandas) (1.13.0)
Installing collected packages: pandas
  Found existing installation: pandas 0.24.2
    Uninstalling pandas-0.24.2:
      Successfully uninstalled pandas-0.24.2
Successfully installed pandas-0.25.3

In [1]:
import pandas as pd

In [12]:
dados = pd.DataFrame( { "cliente":[1,1,1,2,2],
          "mes":[1,2,3,1,2],
          "valor":[100,250,500,350,400],
          "parcelas":[2,5,4,1,2]} )

dados["valor_mes"] = dados["valor"] / dados["parcelas"]

In [31]:
dados

   cliente  mes  valor  parcelas  valor_mes      mes_explode
0        1    1    100         2       50.0           [1, 2]
1        1    2    250         5       50.0  [2, 3, 4, 5, 6]
2        1    3    500         4      125.0     [3, 4, 5, 6]
3        2    1    350         1      350.0              [1]
4        2    2    400         2      200.0           [2, 3]

In [21]:
def explode_mes(row):
    return [ int(row["mes"]) + i for i in range(int(row["parcelas"]) ) ]

In [24]:
dados["mes_explode"] = dados.apply( explode_mes, axis=1 )

In [27]:
dados_explodidos = dados.explode("mes_explode")

In [33]:
dados_parcelas = dados_explodidos.groupby( ["cliente", "mes_explode"] )["valor_mes"].sum()

In [35]:
dados_parcelas.unstack()

mes_explode      1      2      3      4      5      6
cliente
1             50.0  100.0  175.0  175.0  175.0  175.0
2            350.0  200.0  200.0    NaN    NaN    NaN